
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */