.middle {
  display: inline-block;
  position: relative;
}

.margin-inside {
  margin: 20px;
  margin-top: 2px;
}

.margin-outside {
  position: relative;
  margin: 10px;
  top: -25px;
}

a {
  opacity: 0;
}

a:hover {
  text-decoration: none;
}

.mail {
  display: inline-block;
  animation: mailslidein 1s 1 forwards;
}
.linkedin {
  display: inline-block;
  animation: linkedinslidein 1s 0.5s 1 forwards;
}
.resume {
  display: inline-block;
  animation: resumeslidein 1s 1s 1 forwards;
}
.github {
  display: inline-block;
  animation: githubslidein 1s 1.5s 1 forwards;
}

@keyframes mailslidein {
  0% {
    transform: translate(-40px, -60px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes linkedinslidein {
  0% {
    transform: translate(-65px, -23px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes resumeslidein {
  0% {
    transform: translate(-70px, 0px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes githubslidein {
  0% {
    transform: translate(-62px, 25px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
