<!DOCTYPE html>
<html>

<head>
  <title>
    Griffin Strayer | Web Developer
  </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Griffin Strayer">
  <meta name="description" content="Griffin Strayer is a Web Developer who enjoys creating quality products and learning more about all aspects of creating a website">

  <meta name="msapplication-TileColor" content="#111111">
  <meta name="theme-color" content="#111111">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#aaaaaa">

  <link href="/assets/css/index.min.css" rel="stylesheet" type="text/css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="middle">
      <div>
        <img src="/assets/img/portrait_cropped.jpg" class="circlepic" alt="A photo of Griffin Strayer">
      </div>
    </div>
    <div class="belowmiddle">
      <a href="mailto:griffinstrayer+mywebsite@gmail.com" target="_blank" class="margin-outside mail">
        <i class="fas fa-envelope fa-2x" data-fa-transform="rotate-35"></i>
      </a>
      <a href="https://www.linkedin.com/in/griffin-strayer/" target="_blank" class="margin-inside linkedin">
        <i class="fab fa-linkedin fa-2x" data-fa-transform="rotate-10"></i>
      </a>
      <a href="https://drive.google.com/file/d/0B3KjeiZ0BAgeX2JHMnRZQ01uREU/view" target="_blank" class="margin-inside resume">
        <i class="fas fa-file-alt fa-2x" data-fa-transform="rotate-350"></i>
      </a>
      <a href="https://github.com/Gobluebro/" target="_blank" class="margin-outside github">
        <i class="fab fa-github fa-2x" data-fa-transform="rotate-325"></i>
      </a>
    </div>
  </div>
</body>

</html>